<%- include("./includes/head.ejs") %>

</head>
<body>

 <%- include("./includes/navigation.ejs") %>
<div class="head-div">
    <h1>Favorite Airports</h1>
    <p>This is favorite airport list of the user.</p>
</div>
<hr class="line">
<div class="head-div">
    <% for (let airport of airports) { %>
        <article class="airport-entity">
            <header>
                <p class="custom-form">  
                    <p>
                        <form class="custom-form" action="removefavorite" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= airport.airportId._id %>" name="airportId">
                            <button class ="btn2" type="submit">🗑</button>
                            </form><%- airport.airportId.iatacode %> |
                    <%- airport.airportId.name %> -
                    <%- airport.airportId.country %></p>
                    
                </p>
            </header>
        </article>

        <% } %>

    </div>
</body>
</html>