<%- include("./includes/head.ejs") %>

</head>
<body>

<%- include("./includes/navigation.ejs") %>
<div class="head-div">
    <h1>Change Password</h1>
    <p></p>
</div>

<div class="search-div">
    <form action="/new-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <label for="origin">New Password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="origin">Confirm New Password</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
        <% if (errorMessage) { %>
            <div class="warning"><%= errorMessage %></div>
        <% } %><br>
        <button type="submit" value="Submit">Update Password</button>
    </form>
</div>

</body>
</html>